[2018-11-10 22:36] lemol opened #1 "React version on peer dependencies is 16.6.0"
Is this intentional or it have to be "^16.7.0-alpha.0"?

https://github.com/xnimorz/use-debounce/blob/13c5d23b198378e6c3a80bd554cce54e62be5956/package.json#L25

[2018-11-10 23:53] xnimorz commented on #1
Hello, @lemol
Thank you for the issue.
Yes, it has to be "^16.7.0-alpha.0", because react hooks are defined only in this version.
I'll fix it a bit later.

[2018-11-11 08:44] #1 closed

[2019-01-06 12:18] rtvv opened #4 "How to use debounce for EventListeners?"
Example:

[code]

[2019-01-07 12:48] xnimorz commented on #4
Hello, @rtvv! Thank you for your question.

At the moment useDebounce allows you to debounce some values, that already stored in your state.

I wrote an example to show how you can debounce the pageYOffset parameter. You can try it here: https://codesandbox.io/s/10jk10r0m7

[code]

[2019-01-07 12:54] rtvv commented on #4
I add addEventListener at top component and share window.pageYOffset through contextProvider.

This way:
[code]
is visibly lagging :(

[2019-01-07 15:21] xnimorz commented on #4
Can you create a demo project where we can check what is going wrong?

[2019-01-07 15:32] rtvv commented on #4
I don't know how to mesure lag in react. Your code for example https://codesandbox.io/s/10jk10r0m7 is perfectly fine, just add some more nested Components in return and you will see lag.

Here is chrome Performanse tool:
[Overal](https://i.imgur.com/wuzh2xI.png)
[EventLog](https://i.imgur.com/aIuoS4H.png)
[Warn by chome](https://i.imgur.com/PiFl7Ft.png)

I think every time you setPosition - and it

[2019-01-07 15:45] rtvv commented on #4
В общем, скрол вызывает handleScroll раз 30 в секунду судя по консоли и каждый раз мы обрабатываем этот вызов с помощью setPosition(window.pageYOffset). Когда на экране достаточно много компонентов, то прокрутка тормозит заметно.

Смысл в том, чтобы с помощью useDebounce вызывать setPosition или handleScroll не 30 раз в секунду, а 1 раз или и того меньше.

[2019-01-07 16:06] xnimorz commented on #4
React hook useDebounce is written for debouncing a state value in a component, but it wasn't created for debouncing event handling.

It's better to add debouncing into handling function — here is the solution of your use case: https://codesandbox.io/s/32yqlyo815

I also added `updatesCounter` variable to show that component wouldn't get unnecessary updates.

But, yes, your use case is pretty inter

[2019-01-08 09:55] #4 closed

[2019-02-08 07:53] naivefun opened #5 "add maxWait option like lodash.debounce?"
Right now it is str8 debounce, how about maxWait option?

[2019-02-08 08:48] xnimorz commented on #5
Hello, @naivefun
Good suggestion :)
You are welcome to PR me or I'll add it some later.

[2019-02-08 16:57] jacargentina opened #6 "Why not export default?"
There is no other export from the module, why not export default? So we can use:

[code]
in place of current
[code]

[2019-02-09 13:07] xnimorz commented on #6
Hello @jacargentina !
I agree with you. The module won't increase the number of imports, so there are no reasons not to use default export.
I'm going to add this in nearest versions.

[2019-02-12 19:16] kmck opened #7 "Is this hook intended for debouncing function invocation?"
Hi there! I came across this library trying to find something equivalent to [`_.debounce`](https://lodash.com/docs/4.17.11#debounce) but using React hooks. Something like this:

[code]

After looking at the implementation, it seems like it's more like a time-based cache. Do I have that right? It might be useful to provide an example of the more commonly understood (I think?) kind of debouncing if

[2019-02-12 19:39] xnimorz commented on #7
Hi, @kmck. Thanks for the issue

Yes, this library provides a time-based cache.

The idea to implement the more commonly understood kind of pattern is good. And I can add it tomorrow.
I'll write here when I cut the new version.

[2019-02-13 16:06] xnimorz commented on #7
Hi, @kmck
The PR that solves your issue is here https://github.com/xnimorz/use-debounce/pull/8

I didn't publish it, as I want to add unit tests and docs for it.

But, if you want you can already use the library:
[code]

[2019-02-13 16:10] xnimorz commented on #6
Hello, @jacargentina
According to the https://github.com/xnimorz/use-debounce/issues/7 issue, this library will get 2 different implementations for caching and for callbacks.
By this reason, you can use default import if you want to import definite module:
[code]
or you can still use `{ useDebounce }` export:
[code]

[2019-02-13 16:14] xnimorz commented on #5
I made an example with `maxWait` option. It looks more complicated https://codesandbox.io/s/jp8932k769

Where the hook is:
[code]

You can use this code right now by copy-paste it, or I'll publish it later with unit tests to the module.

[2019-02-13 16:15] #6 closed

[2019-02-16 20:29] xnimorz commented on #7
I have just cut the release 0.0.9, with `useDebouncedCallback` method. This method is covered with unit tests.

There are examples of usage: React handlers https://codesandbox.io/s/x0jvqrwyq and native events https://codesandbox.io/s/32yqlyo815

[2019-02-16 20:29] #7 closed

[2019-02-16 20:33] xnimorz commented on #4
I've just cut the release 0.0.9, which has a new method `useDebouncedCallback`. It allows using debounce for Event Listeners more easily.

You can find docs and demo here: https://github.com/xnimorz/use-debounce#debounced-callbacks
___

Я выпустил релиз 0.0.9, где добавил новый метод `useDebouncedCallback`. Этот метод позволяет использовать debounce для Event listeners проще.
Документацию и пример

[2019-02-22 03:15] eliseumds opened #10 "Add a "cancel" method to the callback"

[2019-02-22 08:26] xnimorz commented on #10
Thanks for suggestion @eliseumds ! I think I'll add it with https://github.com/xnimorz/use-debounce/issues/5

You are welcome to PR :)

[2019-02-25 22:25] thibaultboursier commented on #10
Hi @xnimorz,

I'm working on adding a cancel method. I'll make a pull request soon.

[2019-02-27 16:00] xnimorz commented on #5
I've published the beta version, which is included the maxWait option.

You can use it right now:
[code]

When I add examples and CHANGELOG I'll cut the release

[2019-02-27 19:52] xnimorz commented on #5
Hello again, @naivefun .
I've cut the 1.0.0 release.
Now you can use:
[code]

The example with `maxWait` option is here: https://codesandbox.io/s/4wvmp1xlw4

[2019-02-27 19:52] #5 closed

[2019-02-27 19:54] xnimorz commented on #10
Hello @eliseumds

I've cut the 1.0.0 release.
Now you can use:
[code]

The example with `cancel` callback is here: https://codesandbox.io/s/4wvmp1xlw4

Thanks for @thibaultboursier for contributing

[2019-02-27 19:54] #10 closed

[2019-03-04 21:48] aislanmaia opened #13 "Awkward delay using the input property value"
If we use the input value property (value={valueFromHook}) the input value changing feedback is delayed since we don't have the value updated yet.

[2019-03-05 12:13] xnimorz commented on #13
Hello, @aislanmaia
if you use value={valueFromHook} for your input, react will work with such input as controlled component. That meant, you will see the value, that is set to the value directly.

More information about controlled component you can read here https://reactjs.org/docs/forms.html#controlled-components

So, it's better to store 2 values — actual value and debounced value:
[code]

or u

[2019-03-05 12:13] #13 closed

[2019-03-05 18:20] aislanmaia commented on #13
Have you tried to change the example for debounced callback? I have tested here in my project and there in the demo.

[2019-03-05 19:24] xnimorz commented on #13
When you set up value={debouncedValue} your code won't work, as the debounced value will change after the timeout.
So it's expected behavior.

To deal with debouncedValue it's better to store 2 values `actualValue` (for your input e.g. `value={actualValue}`) and `debouncedValue` (for your logic) or use defaultValue.

It's all about the controlled and uncontrolled components in React.

[2019-03-08 02:42] gragland opened #14 "Callback doesn't fire if component unmounts before delay elapses"
I'm using `useDebouncedCallback` and noticed that if the component unmounts (such as an edit window that is closed) before the delay finishes the callback never fires. This makes sense, as you wouldn't want a callback to set state in a component that has already unmounted. But it would be nice if there was some way for me to trigger the callback manually if it hasn't fired yet. Maybe a `callPendin

[2019-03-08 17:30] xnimorz commented on #14
Hello, @gragland !
I agree with you, such feature could be handy for some situations.
I'll add it with 1-2 days, and will write here when I publish the release.

[2019-03-09 23:02] xnimorz commented on #14
I've just published use-debounce@1.1.1 with `callPending` support.
Here you can find examples https://github.com/xnimorz/use-debounce/blob/master/test/callback.test.js#L196-L293

And short docs: https://github.com/xnimorz/use-debounce#callpending-method

Thank you again for the idea!

[2019-03-09 23:02] #14 closed

[2019-03-09 23:35] gragland commented on #14
@xnimorz Thanks!

[2019-03-18 00:24] ReTWi opened #16 "First callback without delay"
Is there a way to call first debounced callback without delay?

[2019-03-18 08:29] xnimorz commented on #16
Hi, @ReTWi
You can deal with it using `callPending` method:

[code]

[2019-03-18 14:32] #16 closed

[2019-04-08 10:52] jack-sf opened #18 "Memoize functions returned by useDebouncedCallback (i.e. by useCallback)"
Let's say I have the same code as the one stated in current README of use-debounce:

[code]

But if I have eslint react [exhaustive-deps](https://reactjs.org/docs/hooks-reference.html#conditionally-firing-an-effect) rule rule enabled, it gives me the following warning:

![image](https://user-images.githubusercontent.com/44373826/55718613-073f6c00-59f4-11e9-8802-07639e6e9833.png)

To fix the eslint

[2019-04-08 11:12] xnimorz commented on #18
Hello, @jack-sf
Thank you for this issue.

I'll memoize debouncedCallback so that you won't use the boilerplate:
[code]

I'll write here when I cut the new release (I think I'll do it within 1-2 days)

[2019-04-08 21:17] xnimorz commented on #18
Hi @jack-sf .

I've just published the new (1.1.2) version https://github.com/xnimorz/use-debounce/commit/5e65f4a387999a6d15a400b850201a67a46ca3a6 which includes `debouncedCallback` memoization.

Thank you again for the idea!

[2019-04-09 09:52] jack-sf commented on #18
Super! Now it works perfectly. Thanks for quick reaction ;)

[2019-04-09 09:52] #18 closed

[2019-04-16 15:13] janhesters opened #19 "How to know if the value is debouncing?"
I filter a very large list and use the `useDebounce` hook to delay the entry of the `searchValue`:

[code]

I would love to show a `filtering...` message or something like that during the debounce. Is there a way to know whether `useDebounce` is still debouncing?

[2019-04-16 15:33] xnimorz commented on #19
Hello, @janhesters

You can get this info by checking if `debouncedSearcValue` is equal to `value`.

I made an example with 2 cases when you have to filter a large list synchronously and asynchronously:

https://codesandbox.io/s/j2n7n0635y

[2019-04-17 07:21] janhesters commented on #19
@xnimorz Wow, thank you so much!

[2019-04-17 07:21] #19 closed

[2019-04-21 22:39] nickbreaton opened #20 "React DOM peer dependency?"
Just installed this hook in my React Native project and got an unsatisfied peer dependency warning for `react-dom`. Looking through the code it doesn't seem like `react-dom` is used anywhere expect the tests.

Would you mind if I submitted a PR to move `react-dom` to a dev dependency instead of a peer dependency?

Thanks for creating this! 😄

[2019-04-22 07:55] xnimorz commented on #20
Hello, @nickbreaton !

Yes, this library should depend only on react. I'll remove react-dom from peerDependency. Will write here when I publish the release.

Thank you!

[2019-04-22 18:06] xnimorz commented on #20
I've just published 1.1.3 version where react-dom peer-dependency is removed.

[2019-04-22 18:06] #20 closed

[2019-04-22 18:31] nickbreaton commented on #20
Sweet. Thanks @xnimorz!

[2019-04-24 14:27] anilanar opened #21 "Remove deps from useDebouncedCallback"
The API for `useDebouncedCallback` should be changed because a static analyzer (e.g. eslint) cannot compare `deps` with the callback.

For reference: https://twitter.com/mostruash/status/1109134981182488576

In the end, it should look like:

[code]

[2019-04-24 14:36] anilanar commented on #21
For reference, I currently use `useDebouncedCallback` as follows:

[code]

[2019-04-24 14:39] xnimorz commented on #21
Hello, @anilanar
I think I'll change `useDebouncedCallback` within 1-2 days.
I'll write here when I publish the release

Thank you for the issue.

[2019-04-27 11:15] xnimorz commented on #21
Hi, @anilanar
I've just published the `2.0.0` release, where the `deps` argument removed. The link to changes https://github.com/xnimorz/use-debounce/blob/master/CHANGELOG.md#200
Also, I reduced the size of the bundle.

[2019-04-29 08:08] anilanar commented on #21
I'll update it and let close this issue once done, you are awesome!

[2019-04-29 14:38] #21 closed

[2019-05-04 20:39] bebbi opened #22 "useDebounce or throttle?"
Am I wrong thinking `useDebounce` works more like `useThrottle`?

On first call, it immediately sets the value to the target value without debouncing.

I was trying to use it for a value which, when not falsy, will trigger an expensive calculation.

However, the calculation will be triggered immediately. Would it make sense to allow to provide a default like this

    const [value] = useDebounce(f

[2019-05-04 21:15] xnimorz commented on #22
Hello, @bebbi

`useDebounce` works using the next algorithm:

1) When it's called for the first time, it will be initialized by the first value:
[code]
function A({text}) {
  const [ value ] = useDebounce(text, 500);
  return value;
}

ReactDOM.render(<A text="Hello world"/>); // The tree is: "Hello world"
ReactDOM.render(<A text="Next value"/>); // The tree is: "Hello world", but after 500ms dela

[2019-05-05 17:58] bebbi commented on #22
Hi @xnimorz, thanks, yes exactly that behaviour of immediately setting the first value is why I was thinking it could be described with `useThrottle`.

If we could provide a separate, e.g. falsy, default value, we could prevent one extra api call in your example in the situation where our value changes within the debounce duration after initial load.

But yes, `useDebouncedCallback` can achieve th

[2019-05-09 17:42] xnimorz commented on #22
I close the issue.
If you have any questions or suggestion, let me know :)

[2019-05-09 17:42] #22 closed

[2019-05-16 11:12] anilanar opened #23 "useDebounce is broken"
I'll try to explain what's going on. I copy pasted the source code and marked some lines with comments so that I can refer to them while explaining.

[code]

[code]

Steps 2-6 happen in **the same event loop.**

1) Value updates. Timeout is scheduled.
2) `X` is triggered. It rerenders the component synchronously.
3) `Y` is triggered, but for the closure of previous render. `debouncedState[0]` and

[2019-05-16 11:22] xnimorz commented on #23
@anilanar Thank you for the issue!
I'll add the `eslint-plugin-react-hooks` and fix this issue a bit later (within 1-2 days)

[2019-05-16 11:32] anilanar commented on #23
I think `cancelDebouncedCallback()` must be moved before `debouncedFunction.apply(null, arguments);` in both timeout handlers too. Because there's no guarantee that `debouncedFunction.apply(null, arguments)` won't schedule another timeout synchronously.

Thanks for maintaining this library 🎉

[2019-05-16 12:58] xnimorz commented on #23
Good point! I'll move it.

[2019-05-17 18:00] xnimorz commented on #23
I've made the example https://codesandbox.io/s/cache-itq1l to check if we have excess function calls and I have published `2.0.1` version with fix and eslint config.

[2019-05-20 13:29] xnimorz commented on #23
Hi, @anilanar .
Can we close the issue?

[2019-05-21 10:50] anilanar commented on #23
@xnimorz I'll test this as soon as possible and let you know.

[2019-05-21 18:33] saiichihashimoto opened #24 "Setting back to original value before debounce breaks."
If you set a value and set it back to its original value before the time, then it will use the first value.

For example:

[code]

If you type in `"Hello"`, then delete it before the 1000ms, the debouncedValue will be `"Hello"` after 1000ms. This happens in general when you set it back to whatever it started as before the timeout.

[2019-05-21 19:27] xnimorz commented on #24
Hello, @saiichihashimoto !

Thank you for the issue!
I'll fix it within 1 or 2 days and will write here when I publish the new release

[2019-05-23 10:34] xnimorz commented on #24
Hello again, @saiichihashimoto !

I've published `use-debounce@2.0.2`, which includes this fix.

You can try it in this demo: https://codesandbox.io/s/kx75xzyrq7
Also, there is a unit test for your case: https://github.com/xnimorz/use-debounce/blob/master/test/cache.test.js#L160

[2019-05-27 08:15] xnimorz commented on #24
I’ll close the issue. If you have any additional questions feel free to reopen or create the new one.

[2019-05-27 08:15] #24 closed

[2019-05-27 09:15] xnimorz commented on #23
I'll close the issue. Feel free to create a new one or reopen this if you get any questions :)

[2019-05-27 09:15] #23 closed

[2019-05-28 18:49] jacargentina opened #26 "How to set value with immediate feedback"
I've this use case:

[code]

`editSong` is dynamic, so when i clic a given song, it is loaded on the `SongEditor`, but with this code i've the first 800 delay, which is not needed and ugly: the only need is when the user starts editing the text. I've looked for a way to access the internal hook state to set it without the initial delay, but `dispatch` is not returned. Any advice?

[2019-05-28 19:12] xnimorz commented on #26
Hello, @jacargentina .
`useDebounce` receives the initial value during the first render. I mean, if you make such example:
[code]
It would render "Hello" without the 800ms timeout.
You can see it in the example: https://codesandbox.io/s/kx75xzyrq7 where the debounced value "Hello" would be rendered within the first render.
Or in the unit tests: https://github.com/xnimorz/use-debounce/blob/master/t

[2019-05-28 19:25] jacargentina commented on #26
Mmmm it is not working, as i dont clearly understand the new code.

I'm posting my fill working example.

[code]

I should note:

1. My `editSongId` is inexistent; i use the `editSong` object directly from the context (It is provided when the user loads a song)
2. Yes, `SongEditor` is rendered, but returns null when there is not current song (`editSong`)

[2019-05-28 19:44] xnimorz commented on #26
It means the first value of `useDebounce` would be `''`

Ok. According to the full example, can you specify the fields of the `editSong` object? I think I can give you a more accurate answer if I recognize the structure.

Without the additional information, I can suggest trying such code:

[code]

[2019-05-28 22:28] jacargentina commented on #26
Got it

[code]

Thanks a LOT!

[2019-05-29 01:06] kevindice opened #27 "Add documentation note that useEffect comparison is shallow"
A use-case one might attempt is:

[code]
...such that the form is auto-saved if the user has not typed in the last 1.5 seconds.

But in JS `{} !== {}` is `true`.

Suggesting the user use a hash function would be best.  Otherwise, the above code example will trigger a re-render every 1500 ms.  This should be accompanied w/ a note about the exhaustive-deps eslint rule.

[2019-05-29 06:50] xnimorz commented on #26
You are welcome!

[2019-05-29 06:50] #26 closed

[2019-05-29 07:57] xnimorz commented on #27
Thank you, @kevindice for your suggestion!

I'll add such note to the docs.

For your case, you can use `useDebounceCallback`, which is more configurable:

[code]

[2019-06-02 18:44] xnimorz commented on #27
Added info in https://github.com/xnimorz/use-debounce#simple-values-debouncing section. Thank you again for the issue!

[2019-06-02 18:44] #27 closed

[2019-08-06 12:06] nmussy opened #30 "Types aren't recoginzed"
My IDE isn't picking up the TypeScript definitions.

Adding the following line to the `package.json` fixes the issue:
[code]

I can make a quick PR if you would like. 👍

Thanks for the great little hook!

[2019-08-06 12:13] xnimorz commented on #30
Thank you for the issue!

I will appreciate if you make a PR for it.

[2019-08-06 12:21] #30 closed

[2019-08-06 12:24] xnimorz commented on #30
Published `use-debounce@2.2.1`

[2019-08-07 02:37] uncle-link opened #32 "react synthetic event error"
Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the property `target` on a released/nullified synthetic event. This is set to null. If you must keep the original synthetic event around, use event.persist(). See https://fb.me/react-event-pooling for more information.
I add persist event, but nothing happened
![image](https://user-images.githu

[2019-08-07 06:52] xnimorz commented on #32
Hello, @uncle-link . Thank you for the issue.
When you set up the debounced callback as a react event listener, this callback will be called asynchronously, by timeout.
It means you should call `event.persist()` or cache necessary fields before debounced callback call.
In your example it could be:
[code]

You can check the example in this section: https://github.com/xnimorz/use-debounce#debounced-

[2019-08-08 05:23] uncle-link commented on #32
Oh it works, and thk u so mc

[2019-08-08 05:23] #32 closed

[2019-08-17 16:16] alexandr-bbm opened #35 "Proper way to access outside values within the debounced function"
Hello, I've started using hooks recently and I am sorry if this issue is not related to this lib.

Could you tell me please is there a way to access updated state values within the debounced function? Let me clarify the problem via comments on the minimal example:

[code]

You can reproduce the issue in the https://stackblitz.com/edit/react-ts-d9udva

[2019-08-17 20:11] xnimorz commented on #35
Hello, @alexandr-bbm !
Thank you for the issue!

At the moment `useDebouncedCallback` returns a function, which calls the callback from the render when it was declared. I mean `debounced` callback calls the function from the previous render. (when value late for 1 char). I'll fix it within 1 or 2 days, and write here when I publish

Right now I made a workaround example: https://codesandbox.io/s/s

[2019-08-17 22:38] xnimorz commented on #35
I've published a new version of the hook: `use-debounce@3.0.0` which fixes this issue.

Also I've updated the example: https://codesandbox.io/s/sweet-varahamihira-xkxg8

[2019-08-18 08:02] alexandr-bbm commented on #35
@xnimorz thank you very much for the quick response and fix!

[2019-08-18 08:02] #35 closed

[2019-08-31 14:38] FredyC opened #37 "Missing ESM build"
Hey, just want to point out you are referring to `esm/index.js` in `package.json`, but there is no such build. Perhaps consider a tool like TSDX which takes care of such burden.

https://unpkg.com/browse/use-debounce@3.0.0/

[2019-08-31 15:34] xnimorz commented on #37
Thank you, for the information! When I return from the vacations, I’ll fix this and publish new version :) It will be within 3-4 days

[2019-09-02 23:20] scottmas opened #38 "Would be great to configure trailing"
Lodash's implementation of debounce has a trailing option which is necessary to specify in some cases: https://lodash.com/docs/4.17.15#debounce

It would be nice to have that option for this library.

[2019-09-03 16:03] xnimorz commented on #38
Hello @scottmas
Thank you for the issue.

It would be great if you show the use case of such usage.

Btw, you are welcome to PR :)

[2019-09-04 14:29] xnimorz commented on #37
Hello @FredyC !
I've just released `use-debounce@3.0.1` which ships `esm` directory.   https://unpkg.com/browse/use-debounce@3.0.1/

[2019-09-04 14:56] FredyC commented on #37
Awesome. Thanks for the package btw, I saw that Dan basically code reviewed a whole thing so there is certainly some quality :) I had some attempts before, but there were issues I wasn't able to figure out.

[2019-09-04 14:56] #37 closed

[2019-09-24 00:11] mschipperheyn commented on #38
The use case is basically e.g. liking a post.

Someone clicks between 1 time or 5 times in a row. You update the UI accordingly in real time, but you want to make sure that the mutation query captures the final state and executes once.

[2019-09-25 19:06] xnimorz commented on #38
Hi, thank you.
Yes, it could be good.
At the moment, I don't have enough time, but you can send a PR :)
Or I'll add it when I get some free time.

[2019-10-07 21:58] dantehemerson opened #41 "Use deep equality"
Could use deep equality to compare objects array in:

https://github.com/xnimorz/use-debounce/blob/f135b40d022afb2e244b2709a78dc1c6262c20b4/src/useDebounce.ts#L4-L6

[2019-10-08 06:52] xnimorz commented on #41
Hello @dantehemerson
You can define your own equality function:
https://github.com/xnimorz/use-debounce/blob/master/src/useDebounce.ts#L11

So, you can call this hook with custom `equalityFn`

[code]

[2019-10-08 08:34] dantehemerson commented on #41
It's true,  I had not noticed.
Maybe we could add the list of options to the README?.
If you want, I could help with this.

[2019-10-08 08:50] xnimorz commented on #41
We released it several days earlier. I'm going to add list of options to the README during this week.

[2019-10-08 09:10] #41 closed

[2019-10-22 00:19] AjaxSolutions commented on #38
Would you be able to use "leading" instead?  What's the practical difference?

[2019-11-04 09:24] smeijer commented on #38
Prevent `doubleClick`, not all web users understand that browsers require a single click for their actions. We see double click's happen quite often, resulting in actions directly being `undone` when calling a `toggle` handler.

`lodash.debounce(myFn, 500, { leading: true, trailing: false })` filters out the double click, without adding a delay for the first click. I use 500ms, because that's what

[2019-11-22 09:37] Svish opened #42 "Return callPending for useDebounced as well?"
Wanted to use the `callPending` flag, but now see that it's only returned for `useDebouncedCallback`, not `useDebounced`. Would it be possible to add `callPending` to `useDebounced` as well?

[2019-11-22 10:36] xnimorz commented on #42
Hello, @Svish
Yes, it's possible to add `callPending` to `useDebounced`.
You are welcome to PR me :)
If not, I'll add it during the 5-7 days.

[2019-11-27 23:26] franzwarning commented on #38
Would love this for my use case as well.

[2019-12-01 19:53] xnimorz commented on #42
Hello again, @Svish .
I've published `useDebounce@3.2.0`  which has `callPending` method for `useDebounce`.

You can find example here: https://github.com/xnimorz/use-debounce/blob/master/test/useDebounce.test.tsx#L276-L302

[2019-12-01 20:23] #42 closed

[2019-12-04 23:15] xnimorz commented on #38
Hi!
I've published `use-debounce@3.3.0` which has both `leading` and `trailing` options. They work like similar lodash params, you can find examples and try it in this playground: https://codesandbox.io/s/vigilant-bush-zrbzg

By default `leading` is false, and `trailing` is true.

[2019-12-08 14:47] #38 closed

[2019-12-08 17:26] AjaxSolutions opened #43 "useDeferredValue"
This is not an Issue, but I'm posting FYI.

The useDebounce hook is very similar to the experimental React [useDeferredValue](https://reactjs.org/docs/concurrent-mode-reference.html#usedeferredvalue) hook.

However, the useDeferredValue value hook is buggy, and I'd not recommend using it at this time.  One developer wrote that this hook should be renamed to [useDebouncedValue](https://github.com/f

[2019-12-08 17:33] xnimorz commented on #43
Thank you, @AjaxSolutions for the info! ❤️

[2019-12-11 18:22] #43 closed

[2020-03-09 12:09] jfschwarz opened #45 "`callPending` should be wrapped in `useCallback`"
The documented example to use `callPending` when the components unmounts violates the principle of correctly defining the dependencies for `useEffect`.

Example code:

[code]

Eslint rule violation:

Unfortunately, `callPending` has a new identity on every render, so listing it as a dependency won't achieve the desired result.

I feel the lib should memoize the returned `callPending` by using `use

[2020-03-09 15:32] xnimorz commented on #45
Hi @jfschwarz!
Good point :)
You are welcome to submit a PR, or I'll fix it later this week

[2020-03-11 16:03] guillaume86 commented on #14
Hi, great job on this hook.

I think this use case seems common enough to justify a dedicated option, something like "callPendingOnUnmount: boolean".

It's not a big issue as it's easy enough to add user side but it would be a nice thing to have.
More importantly it would also make it clear from the docs of that option that by default a pending call is NOT done on unmount (which can lead to hard t

[2020-03-11 16:41] xnimorz commented on #14
Hello @guillaume86
It's more like a definite user case, which users can make on their own.

[2020-03-11 16:41] #45 closed

[2020-03-11 16:46] xnimorz commented on #45
Published in `use-debounce@3.4.0`

[2020-03-19 15:59] FoxyWolfy commented on #4
"Simple values debouncing"
Works great for data entry controls because they're tightly coupled together through the state properties.  Change a property value and 'n' milliseconds later the debounce fires.  The result is the UI stays extreme responsive.

"Debounced callbacks"
Don't use for UI work.   The example callback below will "not fire" until 'n' milliseconds elapse making your UI lagy.
onCh

[2020-05-06 18:44] finnmerlett opened #51 "Value debouncing breaks in react native on expo when component is refreshed"
Just thought to let you know, a simple `const [valueDebounced] = useDebounce(value, 100)` tested in react native on expo works fine - until the component is refreshed (because you've made a code change and saved the file). Unless the change altered the initial value of the `value` state, the link between the `value` and the `valueDebounced` is broken and `valueDebounced` no longer updates at all.

[2020-05-08 12:29] xnimorz commented on #51
Hi @finnmerlett
Thank you for the info!

I would take a look at the problem with react native when I get some free time.
Also, you're welcome to PR me

[2020-05-10 12:33] finnmerlett commented on #51
Fantastic, thanks. Also wanted to say that apart from that one issue, the module works excellently!

[2020-05-19 18:26] Gregoor opened #53 "Misleading memoization in useDebouncedCallback"
Heya, thanks for the lib!

I have conceptual disagreement with how it works wrt the returned callback though. My expectation, given the name useCallback and memoization being mentioned in the docs, that it behaves similar to useCallback. Or more specifically returns a new callback when the given callback changes. I saw [this issue](https://github.com/xnimorz/use-debounce/issues/21) and agree with

[2020-05-23 22:43] xnimorz commented on #53
Hi @Gregoor

I'm so sorry for a such long response.

The solution with using ref for a callback was made to prevent unnecessary functions call and potential bugs for developers who're using this custom hook.

The best practice for your example is to move `activePage` from `useCallback` dependencies array to the argument so that your `useCallaback` would be:
[code]
Next step is to add `activePage`

[2020-05-24 16:05] Gregoor commented on #53
That makes a ton of sense. Thank you very much for taking the time to write it out! Hooks apparently still haven't completely clicked for me yet. Anyway, much appreciated 🙂

[2020-05-24 16:05] #53 closed

[2020-05-30 17:56] cfraz89 commented on #51
Have noticed that refreshing on Next.js breaks it as well. I believe this is since Next.js 9.4, which uses react-refresh for reloading - which I think is the same mechanism react-native uses.

[2020-07-03 13:14] nfantone opened #54 "Stops working after Next.js Fast Refresh"
[`use-debounce`](https://github.com/xnimorz/use-debounce) stops working altogether after any changes to code are made in a Next.js project.

You can see a reproduction example here: https://codesandbox.io/s/hardcore-sara-ueu2k

Looks fine on first load, but doesn't call the input callback anymore after refresh.

### After initial load

![](http://g.recordit.co/iweO2LP6fK.gif)

### After [Fast Refr

[2020-07-03 14:54] xnimorz commented on #54
Hi @nfantone , @Timer
The main tricky thing, why lots of third party libraries get crashed during fast-refresh updates, is fast-refresh re-calls (with cleanups) all `useEffects` inside custom hooks, components, etc.

I mean, the following code wouldn't work properly:
[code]

In the example above, we change ref to the truth inside useEffect cleanup function (which is handy to prevent unnecessary ti

[2020-07-03 14:57] xnimorz commented on #51
Hi, @finnmerlett , @cfraz89
I've fixed the issue.
I've published `use-debounce@3.4.3` which should work with both next.js and react native, as they are using a similar refreshing mechanism.

[2020-07-04 19:48] nfantone commented on #54
Great stuff! It seems to work fine now. Many thanks for this, appreciated. Good work.

[2020-07-04 19:48] #54 closed

[2020-07-05 09:41] xnimorz commented on #51
I'm going to close this issue, as https://github.com/xnimorz/use-debounce/issues/54 is resolved.
Feel free to reopen it, if you're still experiencing some problems.

[2020-07-05 09:41] #51 closed

[2020-07-15 00:55] MichaelDeBoey opened #55 "Add engines to package.json"

[2020-07-15 08:29] xnimorz commented on #55
Hi @MichaelDeBoey
Thank you for the issue.
You are welcome to PR me.

[2020-07-15 08:36] MichaelDeBoey commented on #55
@xnimorz I couldn't figure out the minimum required Node version, hence the issue

[2020-08-12 07:44] MatteoGauthier opened #58 "How to wait for the new value"
Hey i wanted to handle user input from a textarea, but if the user submit the form before the debounce the previouse value is taken. How can i wait for the value to change then submit my form ?

Can someone help me ?

[2020-08-12 08:16] xnimorz commented on #58
Hi @MatteoGauthier
You do not need to wait for debounceCallback, you could save both original and denounce values:
https://codesandbox.io/s/callback-forked-j5dt5
Hence you could provide the interface with 2 values and use the original value for the form submitting

[2020-08-12 10:30] MatteoGauthier commented on #58
@xnimorz Thanks for your reply, i did not understand that the debounce utility is used for the UI. Thanks it's  more clear now.

[2020-08-12 10:30] #58 closed

[2020-08-14 08:05] JamesConsidine opened #59 "Memoization"
There is a heading in the documentation about memoization, but no example. I think you will need to allow a dependency array to be passed in, and make the usage the same as `useCallback`

[2020-08-14 08:14] xnimorz commented on #59
Hi @JamesConsidine, Thank you for the issue!
We don't use deps array explicitly.

Some refs describing why it's better:
https://twitter.com/mostruash/status/1109134981182488576 + https://github.com/xnimorz/use-debounce/issues/21

With Example: https://github.com/xnimorz/use-debounce/issues/53

To use memorization you could combine useCallback + useDebouncedCallback:
[code]

In case you'd like to i

[2020-08-14 08:25] JamesConsidine commented on #59
Wow ok, I was clearly quite wrong here lol. Thanks for the example! I don't think I understand why we don't want to use deps though. Any chance you could give me a TLDR?

Re: the docs, I do think they need something to explain how to use it like that, so ill have a crack at a PR when I get a moment

[2020-08-14 08:36] xnimorz commented on #59
The main reason is that automatic rules, like `react-hooks/exhaustive-deps`, don't check whether deps are right for custom hooks. They check only for the original hooks. It's why the react team don't recommend to make your own deps array for custom hooks:
![image](https://user-images.githubusercontent.com/1178825/90230509-4ff60900-de22-11ea-86ed-132eafb67002.png)

[2020-08-14 08:40] JamesConsidine commented on #59
Ok cool! I was seeing this as a replacement for useCallback, but really it supplements it. So yeah, I will close the issue and have a crack at the docs later. Thanks for all the help!

[2020-08-14 08:40] #59 closed

[2020-08-28 00:03] tryggvigy opened #60 "Support lodash style throttling options for trailing+maxWidth"
https://github.com/lodash/lodash/blob/master/throttle.js

It would be nice to be able to do this:

[code]

where the trailing edge is turned off.
Let's say the function is called twice in the first 300ms.

**What happened**
Debounced function is called _twice_ even though trailing is false (this is due to the maxWait logic).

**What I would have expected**
Debounced function to have been called _o

[2020-08-28 13:25] tryggvigy commented on #60
I think we'd need to keep track of calls with `Date.now()` and compare agains maxWait to achieve this behaviour.
[This is what lodash debounce does](https://github.com/lodash/lodash/blob/86a852fe763935bb64c12589df5391fd7d3bb14d/debounce.js#L185).

[2020-08-28 16:56] capaj opened #61 "add "isPending" to the useDebouncedCallback"
it would be nice if https://github.com/xnimorz/use-debounce#callpending-method also returned `isPending`.
Also since it would return 4 items now, it might make sense to change it into an object. Destructuring an object is fair bit nicer than an array of four items.

[2020-08-30 13:23] xnimorz commented on #61
Hi @capaj, Thank you for the issue.

Talking about `isPending`:

Returning `isPending` from `useDebouncedCallback` will lead to unnecessary component rerender. (as it will be required to include `isPending` not as an instance ref, but as a part of the hook state).
Also, `isPending` could be implemented outside `useDebouncedCallback` without any difficulties.

So, it seems that we will deoptimize u

[2020-08-30 13:24] xnimorz commented on #60
Hi @tryggvigy
Good point, you are welcome to open a PR, or I'll make these changes later when I would have free time.

[2020-09-01 15:41] tryggvigy commented on #60
fixed in https://github.com/xnimorz/use-debounce/pull/62

[2020-09-01 15:41] #60 closed

[2020-09-02 09:07] xnimorz commented on #60
Published use-debounce@4.0.0

[2020-09-07 23:57] ivan-aksamentov opened #63 "How to restore the behavior of v3 in v4?"
How do I preserve the old behavior from version 3? The PR #62 introduced new options, but I tried various combinations of the flags and none gave the old effect. Is this even possible? Maybe the current behavior relies on bugs that I should fix? Am I stuck with v3 now?

Context:
Just spent 2 hours to pinpoint my new form validation errors to the upgrade of `use-debounce` to version 4.0.0. The funn

[2020-09-08 00:20] ivan-aksamentov commented on #63
Okay, you just witnessed a rubber duck debugging session. :duck:

I investigated the

part and found that I should not have returned from the `.then()` part of the snippet above, because `formik` treats the returned things as errors (I returned valid values). So, this was a bug (also, ["thanks" to eslint `promise/always-return` rule that convinced me I should return something](https://github.com/x

[2020-09-08 08:35] tryggvigy commented on #63
Hi @ivan-aksamentov! Nice to see you again 😄 hope covid19_scenarios is going well.

Yes, that's right. The new version mimics lodash's implementation of debounce which returns the value.
I'm sorry you had to spend time debugging!

[2020-09-08 08:42] tryggvigy commented on #61
isPending could be implemented internally in V4 pretty easily

[code]

I've been using a fork of useDebounce at work. Decided to do like like lodash and return the debounced callback but attach the other functions to it:

[code]

Might be one route this lib could go down.

[2020-09-08 09:08] xnimorz commented on #63
Hi @ivan-aksamentov

Yes, now v4 use-debounce returns the value.

[2020-09-09 10:06] ivan-aksamentov commented on #63
@tryggvigy, small planet :)

Yep, it's thriving. 6+ months into pandemic, we are now swimming in data. Initial predictions were totally correct too. Not sure if I should be glad or sad about it all. Just released changes for "The Second Wave". Not looking good.

Feel free to close this, folks. Might also add a quick note on the new return behavior to the list of breaking changes, and/or to the rea

[2020-09-09 10:25] xnimorz commented on #63
I'll add it to the changelog and then I'll close the issue :)

[2020-09-09 17:19] xnimorz commented on #63
Added https://github.com/xnimorz/use-debounce/commit/f9f4cb314bb7f17628691ee71e2eecd9174a7a89 :)

[2020-09-09 17:19] #63 closed

[2020-09-14 15:46] RwwL opened #64 "npm package is updated to 4.0 but releases page on repo don't reflect possible breaking changes"
More a reminder than an issue; sorry if you would have preferred a quick email or tweet.

[2020-09-14 16:06] xnimorz commented on #64
Hi @RwwL
All the information about the changes we store in the changelog file: https://github.com/xnimorz/use-debounce/blob/master/CHANGELOG.md

I think, I'll add a release using github also.

[2020-09-14 16:06] #64 closed

[2020-09-14 16:13] RwwL commented on #64
Perfect, thanks, sorry I missed that!

[2020-09-19 09:21] xnimorz commented on #55
Hi. It will be node >= 10.0.0
Commit: https://github.com/xnimorz/use-debounce/commit/9d4852cd6657b29b31e8a3bb5657d11f83b650e4

[2020-09-19 09:21] #55 closed

[2020-09-19 10:10] xnimorz commented on #61
Hi @capaj !

Published in `use-debounce@5.0.0`
The full changelog is here: https://github.com/xnimorz/use-debounce/blob/master/CHANGELOG.md#500
The example of using `pending` is on unit tests: https://github.com/xnimorz/use-debounce/commit/1b4ac0432f7074248faafcfe6248df0be4bb4af0#diff-f19398ad88ba687dc4ddd6887f3ed8f8R652-R664

Also, please take note, that the returning value from `useDebouncedCall

[2020-09-19 10:41] capaj commented on #61
Thanks. This is great. Closing!

[2020-09-19 10:41] #61 closed

[2020-09-24 10:07] kockok opened #65 "Docs about pending"
I cannot see the reference for the `pending` method in the front page readme.
This would be great if you could also cover it.

[2020-09-28 21:06] xnimorz commented on #65
Hey @kockok
I've cut a 5.0.1 release with `pending` doc

[2020-09-29 04:34] #65 closed

[2020-10-04 02:45] yuanworks opened #67 "Slight confusion between v4 `callPending` (function) and new `pending` (boolean)"
Hi there, first of all, thanks for providing support and putting so much effort into this hook. I'm using it in production code and it works like a charm, love the simplicity!

While the adoption for v5 is not as widespread, what do you think of renaming `debounced.pending()` to `debounced.isPending()`?

I was dealing with a bug where I was calling `debounce.pending()` instead of `flush()` as I wa

[2020-10-04 09:08] xnimorz commented on #67
Hi @yuanworks !
Yes, it's possible, as it will be better for understanding.
However, it would require a new major release.
I'd suggest waiting before the next major changes in the lib. And I'll release these changes with other major ones.

[2020-10-04 09:25] greyGroot commented on #67
@xnimorz if you don't mind, can i implement it?

[2020-10-04 09:48] xnimorz commented on #67
Feel free to send a PR :)
But I'll release it with other major changes, as it's pretty strange to update throughout the major release with only this change

[2020-10-04 12:49] yuanworks commented on #67
Hi @xnimorz. That makes sense, for now definitely the v5 major release with the debounce object is great already.

[2020-10-06 05:40] greyGroot commented on #67
@xnimorz could you please assign this issue to me and add hacktoberfest label?

[2020-10-06 08:08] xnimorz commented on #67
@greyGroot
here is a PR that closes the issue. https://github.com/xnimorz/use-debounce/pull/68
However, I don't plan to merge it (as I said above) before any valuable major changes appear to cut a new release.

[2020-10-06 08:24] greyGroot commented on #67
@xnimorz  i was going to make pr today anyway. but you was faster than me. ok, maybe next time i will be faster with contribution :)

[2020-10-15 20:24] AjaxSolutions opened #69 "How the leading option can be changed dynamically?"
I'd like to use the ` leading: true` option while testing a component and `leading: false` otherwise.

How can I do this?

[2020-10-15 21:13] xnimorz commented on #69
Hi @AjaxSolutions

I'm not sure I get you right. Do you mean unit testing or E2E tests?

Talking about E2E, you could do it by providing a prop to the component which will set a correct param

[2020-10-15 21:38] #69 closed

[2020-10-27 21:06] BrendonSled opened #78 "Callback can't return a promise"
[code]

This code will fail which is very misleading as the typing for the callback is a `Promise<void>`

[2020-10-28 12:09] xnimorz commented on #78
Hi, yes callback inside useDebouncedCallback now returns a value, but it could be undefined or null. I'll fix it soon

[2020-10-29 10:02] xnimorz commented on #78
Hi @BrendonSled
TypeScript has a problem with defining null and undefined as types:
[code]

this is a valid ts code, but it's absolutely meaningless.

I'll add information to the docs, that you should check if you get `undefined` directly.

[2020-11-05 13:11] xnimorz commented on #78
Hello @BrendonSled
I've published use-debounce@5.0.2 with the description, why you get undefined:
https://github.com/xnimorz/use-debounce#returned-value-from-debouncedcallback

Also, talking about further versions of the library, check the PR https://github.com/xnimorz/use-debounce/pull/83 maybe it will be more convenient

[2020-11-05 17:15] icflorescu opened #84 "v5.0.2 - cannot find module '[...]/node_modules/use-debounce/dist/index.js'"
I'm getting this error in a TS + Next.js application after upgrading `use-debounce` to `5.0.2`.
Things worked just fine prior to (and including) `5.0.1`, so I'm suspecting it has something to do with these new lines that were introduced in `package.json` in one of the last commits:
[code]
...and the fact that there's no `dist` sub-folder created when installing the package; just `lib` and `esm`.
R

[2020-11-05 17:18] icflorescu commented on #84
Please do let me know if there's anything more I can do to help with this issue.

[2020-11-05 17:23] xnimorz commented on #84
Hi @icflorescu
Thank you a lot!
I've just fixed this, published the 5.0.3 version, please, try it, the issue should be solved

[2020-11-05 17:26] icflorescu commented on #84
Wow, that was fast :-)
Fixing the paths in `5.0.3` solved the issue, of course.
Thanks a lot and keep up the good work!

[2020-11-05 17:26] #84 closed

[2020-11-09 12:25] kamranahmedse opened #85 "5.0.3 — useDebouncedCallback export issue"
Hey, firstly thank you for your work on the package, appreciate it.

There is an issue in the latest version `5.0.3`, it seems like `useDebouncedCallback` hasn't been exported properly

[code]

[2020-11-09 12:53] xnimorz commented on #85
Hi @kamranahmedse !
Could you provide your import line with useDebounce, please?

[2020-11-09 13:14] kamranahmedse commented on #85
It is [as per the docs](https://github.com/xnimorz/use-debounce#debounced-callbacks)

[code]

[2020-11-09 17:52] xnimorz commented on #85
I've tried to reproduce the problem, but it worked.

Could you provide a small example of the described problem?

[2020-11-10 08:05] kamranahmedse commented on #85
Ah, my bad, one of the "hidden" imports in the project was wrong.

[code]

Apologies for the hassle. Thank you Nik! :)

[2020-11-10 08:05] #85 closed

[2020-11-10 09:58] itsmelion opened #86 "React Native warning: "the package has been ignored"."
<img width="605" alt="Screen Shot 2020-11-10 at 09 38 04" src="https://user-images.githubusercontent.com/12537491/98656646-d09ca680-2338-11eb-8238-28b0b4b22040.png">

Therefore, the app and hook seem to run ok.

Env:
[code]
NODE_VERSION=15.1.0
OS=MacOS 11.0.1 beta

[2020-11-10 10:00] itsmelion opened #87 "ReactNative warning: Package ignored"
<img width="605" alt="Screen Shot 2020-11-10 at 09 38 04" src="https://user-images.githubusercontent.com/12537491/98656646-d09ca680-2338-11eb-8238-28b0b4b22040.png">

Therefore, the app and hook seem to run ok.

Env:
[code]
NODE_VERSION=15.1.0
OS=MacOS 11.0.1 beta

[2020-11-10 10:01] itsmelion commented on #87
Duplicated #86

[2020-11-10 10:01] #87 closed

[2020-11-11 16:20] xnimorz commented on #86
Hello, @itsmelion
Fixed in 5.0.4

[2020-11-11 17:01] xnimorz commented on #86
I'm closing the issue. Feel free to reopen it or create a new one if needed.

[2020-11-11 17:01] #86 closed

[2020-11-14 11:18] xnimorz commented on #78
Hi, I'm going to close the issue. Feel free to reopen it or make another one if needed.

[2020-11-14 11:18] #78 closed

[2020-11-16 08:04] bengtan opened #88 "Changelog for 5.0.4?"
Hi,

5.0.4 was published to npmjs.com five days ago. Are there are release notes/changelogs for it?

[2020-11-16 08:29] xnimorz commented on #88
Hi @bengtan
I was interrupted, so I forgot to push these changes, thank you.
5.0.4 adds correct export maps for React Native (https://github.com/xnimorz/use-debounce/issues/86)

[2020-11-16 08:33] xnimorz commented on #88
published

[2020-11-16 08:33] #88 closed

[2020-11-20 17:04] bertho-zero commented on #85
I have this issue with the latest `use-debounce` and only one import like:

[code]

[code]

[2020-11-20 17:10] bertho-zero commented on #85
I found right after writing the comment, if you modify `conditionNames` in your webpack config, consider adding `...`:

[code]

[2020-11-27 10:06] Miteshdv opened #89 "Unit Testing Component - with Hook"
Cant Get Test Coverage of callback used in the component , any examples pls ?

[2020-11-27 10:29] xnimorz commented on #89
Hi @Miteshdv
Thank you for the issue!

Could you provide some context, please?

At the moment we have https://github.com/xnimorz/use-debounce/blob/master/test/useDebouncedCallback.test.tsx for callback and https://github.com/xnimorz/use-debounce/blob/master/test/useDebounce.test.tsx for values.

You can find examples of testing components with these hooks inside these 2 files. The general piece of

[2020-11-27 11:13] Miteshdv commented on #89
Thanks For Reply ,
 I tried various ways , but i am getting error

ran 100000 timers, and there are still more! assuming we've hit an infinite recursion and bailing out

when i do jest.runAllTimers()

[2020-11-27 11:20] Miteshdv commented on #89
I have a component

const Time = ()=>{
debounced = useDebouncedCallback(()=>{
//CANT COVER THIS LINE IN TEST COVERAGE
console.log('test')})

return <button onClick={debounced .callback}/>

}

i do

wrapper.find('button').prop('onClick')()

the callback function is not covered

i did

act(()=>{
jest.runAllTimers()})

i get error

[2020-11-27 11:48] xnimorz commented on #89
I've made an example of your case, everything seems to work properly.
Here is the code, I hope It would help you to determine the problem: https://github.com/xnimorz/use-debounce/compare/tmp?expand=1#diff-f2501e1cc67f3029fe72847a2b1dba6abfeabf59289997bcdb06eed7ca3d8b11R13

Please, check your config and whether or not `jest.useFakeTimers('modern');` is used

[2020-11-27 11:56] Miteshdv commented on #89
ok i managed to get it work using combination  of **jest.useRealTimers(), setTimeout and done.**

no jest.runAllTimers() / jest.useFakeTimers('modern')

simply do

it('i am testing', done => {
wrapper.find('button').prop('onClick')()
setTimeout(()=>{

done()
},600)
})

[2020-11-27 11:56] #89 closed

[2020-12-03 20:07] tryggvigy opened #90 "Interest in exposing useThrottledCallback through this library?"
`useThrottledCallback` can easily be implemented with the newer `useDebouncedCallback` api:

[code]

I think it would be nice to also add a similar jsdoc codeblock for useDebouncedCallback so code editors can pick them up and show inline.

[code]

[2020-12-06 13:32] xnimorz commented on #90
Hi @tryggvigy
Thank you for the suggestion, I'll add it

[2020-12-06 13:46] tryggvigy commented on #90
Let me know if you need any help at all. A second pair of eyes, opinion or reviews. Happy to help

[2020-12-08 00:39] xnimorz commented on #90
I've made a PR https://github.com/xnimorz/use-debounce/pull/91 feel free to check it :)
Later tomorrow night I'll add the same jsdoc for useDebounce as well

[2020-12-08 00:39] xnimorz commented on #90
Thank you for the suggestion and the text of jsdocs!

[2020-12-11 23:33] xnimorz commented on #90
Published @5.2.0

Thank you again @tryggvigy !

[2020-12-11 23:33] #90 closed

[2020-12-19 16:17] tryggvigy commented on #78
How does this fail? Seems to work. Logs `yay` in console https://codesandbox.io/s/intelligent-dust-9pivn?file=/src/App.js

Also what is the main real-world use-case for awaiting promses returned from a debounced function? It seems weird. What would you expect to happen if the function is called twice before the first promise resolves? Right now it calls the debounced function with the latest argum

[2020-12-24 03:17] csu-feizao opened #94 "function type of param with useDebounce return a wrong value"
example like
[code]
log result: `I am a string`
expect: `[function]`

the reason is when `useState` got a function type of param, it will call this function to get result as state
[code]

maybe to change like this will resolve?
[code]

[2021-01-08 07:23] #94 closed

[2021-02-14 10:17] gtanczyk opened #97 "Infinite startTimer loop causing high CPU load"
Hello!

I'm not able to give exact reproduction steps, but this screenshot demonstrates the problem:
![image](https://user-images.githubusercontent.com/1281113/107873868-f72d2900-6eb5-11eb-98ef-2369f6cf9574.png)

I'm using `useDebouncedCallback` in a regular component. The component itself is not re-rendered, and there is nothing that could call the callback itself.

Version of React: `16.9.46`

T

[2021-02-14 15:12] xnimorz commented on #97
Hi @gtanczyk
I'd like to ask which arguments were provided to the component?
It seems the problem is connected to `shouldInvoke` func https://github.com/xnimorz/use-debounce/blob/master/src/useDebouncedCallback.ts#L135-L153, but I need a little bit more info to understand

[2021-02-14 19:29] gtanczyk commented on #97
I'm observing this behavior in many different instances of `useDebouncedCallback`, but this is the most common setup:
[code]

`func` is not invoked, `shouldInvoke` is returning false, because this hook is unmounted. (`mounted.current === false`)

Unfortunately I'm not able to provide reliable reproduction steps.

[2021-02-15 13:55] gtanczyk commented on #97
@xnimorz Please have a look at this example: https://codesandbox.io/s/determined-antonelli-4lhw6?file=/src/App.js
so looks like it's a problem of unmounted components.

[2021-02-19 22:55] kelly-tock commented on #97
seeing a similar issue.
[code]

after a little bit of scrolling, the tab spikes the cpu.

[2021-02-20 16:34] xnimorz commented on #97
Hi @kelly-tock, could you provide a little bit more information? cause, I won't be able to reproduce the error.

[2021-02-20 16:34] xnimorz commented on #97
@gtanczyk Thank you for the information! I fixed it in `use-debounce@5.2.1`

[2021-02-20 20:29] xnimorz commented on #67
Published in `use-debounce@6.0.0-beta`, will be released as soon as I move all examples to a new version

[2021-02-20 20:29] #67 closed

[2021-02-20 20:31] xnimorz commented on #97
I'm closing this issue at the moment, as the problem with the unmounted component is gone. If you still have any problems with infinite timeouts, please feel free to create a new issue or reopen this one

[2021-02-20 20:31] #97 closed

[2021-02-21 09:09] gtanczyk commented on #97
@xnimorz Thanks a lot

[2021-03-11 09:38] kockok opened #101 "isPending Type '() => boolean' is not assignable to type 'boolean | null | undefined'."
I have a button `disabled` prop that accepts only `'boolean | null | undefined'` whilst the latest version of this library returns `isPending` with `() => boolean`.

`disabled={debouncedCallback.isPending}`

So, how to fix it?

[2021-03-11 09:50] #101 closed

[2021-03-20 20:18] aureooms opened #102 "pending has been renamed isPending in the source but not in the README"

[2021-03-27 14:30] xnimorz commented on #102
Added changed to README.md. Thank you for reporting this!

[2021-03-27 14:30] #102 closed

[2021-03-29 14:08] VanTanev opened #103 "useDebouncedCallback() has a slightly wrong type"
[code]

Should instead be:
[code]

The reason is that unless we're invoking on leading edge, the `result` ref will not be set until the function has been debounced at least once.

Reproduction: https://codesandbox.io/s/use-debounced-callback-return-type-57jme

[2021-03-29 22:23] xnimorz commented on #103
Thank you, @VanTanev for spotting this!
I'll fix it soon

[2021-04-03 14:40] xnimorz commented on #103
Published in v.6.0.1 Thanks for reporting!

[2021-04-03 14:40] #103 closed

[2021-04-07 12:06] TonisPiip opened #105 "Bad example for useDebouncedCallback in README"
in the readme example of useDebouncedCallback you have:
[code]

But it's returning an array, so it really should be

`const [debounced] = useDebouncedCallback(`

[2021-04-07 12:13] xnimorz commented on #105
Hi @TonisPiip
`useDebouncedCallback` returns an object. You can check the example here: https://codesandbox.io/s/x0jvqrwyq

So the Readme shows the right information.

[2021-04-08 15:41] abologna-rigup commented on #105
I am on the latest release and @TonisPiip is right. I was able to get the function only as an array. Attaching screenshot:

![image](https://user-images.githubusercontent.com/66850129/114056106-f336db00-9856-11eb-83a3-f6a29dd69cbc.png)

[2021-04-08 23:49] xnimorz commented on #105
It looks pretty odd, as this is an API from the old major versions.

I checked it by installing the latest version `6.0.1`:
![image](https://user-images.githubusercontent.com/1178825/114109444-f32dee00-98dd-11eb-9bc6-299c6ad64530.png)

Can you check the version in `node_modules/use-debounce/package.json` and the content inside .d.ts files in `node_modules/use-debounce/esm/useDebouncedCallback.d.ts

[2021-04-09 06:19] TonisPiip commented on #105
I have `"use-debounce": "3.4.2"` So yes, it's an older version.

Perhaps the npm release version isn't same as master branch?

[2021-04-09 11:03] xnimorz commented on #105
The last version according to the npm is https://www.npmjs.com/package/use-debounce
Master branch represents usually the latest version in this repo.

[2021-04-10 23:07] xnimorz commented on #105
Feel free to reopen this issue if you still have any problems.

[2021-04-10 23:07] #105 closed

[2021-04-19 05:31] robertu7 commented on #105
I'm using `6.0.1` and having the same issue as @TonisPiip, the TypeScript definition is fine but the actual code is returning an array.

[2021-05-12 20:01] DoryZi opened #109 "How do you mock useDebounce?"
All Mocking attempts create errors:
`import useDebounce from 'use-debounce'`
`jest.mock('use-debounce')`

``` TypeError: (0 , _useDebounce.useDebounce) is not a function or its return value is not iterable ```
trying to target just that mock also fails:

[code]

also gives the same error.
using mock timer didn't work either.

[2021-05-12 21:34] xnimorz commented on #109
Hi @DoryZi
Thanks for the question!

Could you provide a small repo with a problem to help me find out what is your case?

In general, it could be mocked by simple `jest.mock`. I've prepared a small repo with a simple mocking: https://codesandbox.io/s/eloquent-bassi-hpmct?file=/src/app.spec.js
However, codesandbox doesn't support `jest.mock` as well as the rest jest functions like `useFakeTimers`,

[2021-05-13 05:50] DoryZi commented on #109
try this?
https://codesandbox.io/s/hardcore-leftpad-86o8n?file=/src/app.spec.js

[2021-05-13 05:50] DoryZi commented on #109
TRy looking at it now.

[2021-05-13 20:55] xnimorz commented on #109
jest.mock works good for this example too.
[code]

[2021-05-22 15:27] xnimorz commented on #109
I'm closing this issue for now. If you still have problems, please send me a small repro with the problem, I'll check it.

[2021-05-22 15:27] #109 closed

[2021-08-30 17:34] harrisonywu opened #119 "` useDebouncedCallback` does not have ` equalityFn` option in the type definition."
**Describe the bug**
`useDebouncedCallback` does not have `equalityFn` option defined in the type definition.

In documentation, it says both `useDebounce` and `useDebouncedCallback` have `equalityFn` provided.
![image](https://user-images.githubusercontent.com/16639666/131380667-d8f07cbf-d7f2-4ad4-8bd5-58b2ffb1ccc9.png)

Looking at the Type definition, and `Options` does not have `equalityFn` def

[2021-09-12 12:25] xnimorz commented on #119
Hey @harrisonywu  sorry for the long response.
`equalityFn` is not presented in useDebouncedCallback, because there are no values to compare.
I'll mark that this function is a specific for the useDebounce

[2021-09-12 12:26] xnimorz commented on #119
https://github.com/xnimorz/use-debounce/blob/master/README.md#options

[2021-09-21 17:10] msharifi99 opened #121 "value controller reference changes on every render"
**Describe the bug**
the reference of value controller object returned by `useDebounce`  keep changing on every render in consumer component. and it cause hooks that use the object as their dependencies to re-call.

**Expected behavior**
to reference does not change across re-renderes.

**use-debounce version: ^7.0.0**

[2021-11-04 12:05] edu-bound opened #123 "Add types to package.json export"
**Describe your idea**

There are some useful types in the lib that users may want to import. However, some tools will not allow this given that the types are not declared in types referenced by package.json's `exports` field.

What's preventing exporting these types?

[2021-11-07 12:08] xnimorz commented on #121
Hey @msharifi99
Thanks for the pull request, and I'm sorry for such a long response.

I checked both issue and the pull request.
Original solution suggested to check not the object which you receive, but the definite fieds:
[code]

However, I agree that it may be difficult to support inside each component

I just committed a fix for this: https://github.com/xnimorz/use-debounce/commit/ce543e30fd90

[2021-11-07 12:08] #121 closed

[2021-11-07 12:08] xnimorz commented on #123
Hey @edu-bound
I'm sorry but I'm not sure I clearly understand the issue, may I ask for some examples, please?

[2021-11-07 12:09] #119 closed

[2021-11-07 12:13] xnimorz commented on #121
Published in 7.0.1

[2021-11-07 12:46] edu-bound commented on #123
Sure. In `package.json`, the exports field is as follows,

[code]

Some tools recoginze the `exports` field and change their behavior based on its value. An example of such a tool is the ESLint plugin [eslint-plugin-import-alias](https://www.npmjs.com/package/eslint-plugin-import-alias).

When a type not declared in the `exports` field is imported it, understandably, throws the following error,

[

[2021-11-07 21:56] xnimorz commented on #123
got it, please, feel free to make a PR

[2021-11-29 13:16] #123 closed

[2021-12-14 09:34] mntnoe opened #124 ""leading: true" not working for v7"
**Describe the bug**
For the versions 7.0.0 and 7.0.1, setting `{ leading: true }` does not trigger an immediate change in `useDebounce`. It works in 6.0.1 and below.

**To Reproduce**
- The sandbox example linked to in the readme file (https://codesandbox.io/s/rr40wnropq) uses `use-debounce@6.0.0-beta`. Add the option `{ leading: true }` and observe that the debounced value is updated immedately

[2021-12-17 09:12] jordanamr opened #125 "create-react-app 5 compatibility"
**Describe the bug**
Hello, installing the latest version (7.0.1) of use-debounce on top of a project using the latest create-react-app (5.0.0) does not work.
I am getting this error during the build :
[code]

**To Reproduce**
Install use-debounce with yarn in a create-react-app 5.0.0 environment

**Expected behavior**
Should build

**use-debounce version:**
7.0.1

[2021-12-21 11:11] xnimorz commented on #125
Hey, I just created a new application using create-react-app 5.0.0 and use-debounce 7.0.1. And everything is working for me for both MacOs and Ubuntu systems.

I'd ask to clean caches and node_modules and try to do it again.
If it won't work, I'd check use-debounce folder in node_modules.
For instance, it should look something like:
![image](https://user-images.githubusercontent.com/1178825/146920

[2021-12-21 11:12] xnimorz commented on #124
Hey, thank you for reporting the issue.
You're welcome to open the PR to fix it!

[2021-12-21 23:21] marcoSven commented on #125
We have the same issue `Package path ./lib is not exported`

- [x] I'd ask to clean caches and node_modules and try to do it again.
- [x] If it won't work, I'd check use-debounce folder in node_modules.

[2022-01-09 23:01] xnimorz commented on #125
Hey @marcoSven

Thank you for the detailed info!
Yeah, in that case I'd ask to use the variant of
[code]
 because the lib was designed to be used in that way.

[2022-02-12 15:27] xnimorz commented on #125
I'm closing it, as the solution is to use import:
[code]

[2022-02-12 15:28] xnimorz commented on #124
Labelling it as a good for new contributors, who are looking for possibilities to start with open source

[2022-03-17 11:27] alexniarchos opened #129 "useDebouncedCallback does not update state when react-dev-tools is open"
**Describe the bug**
When react-dev-tools are open and the component that uses the `useDebouncedCallback` method is focused in react-dev-tools then if the user calls the set state method of a `useState` hook the state will not update.

**To Reproduce**
Go to the example of `useDebouncedCallback` from the README, then open react-dev-tools and click on the "Input" component. Now if you change the va

[2022-03-29 16:39] yarinsa opened #130 "errors in debounce fn are not propagated"
**Describe the bug**
The error inside the debounced function is swallowed

**To Reproduce**
1. Make a-simple async function and throw error inside.
2. Make a debounced instance of this function
3. In other function use the debouncedFn and wrap it with try & catch block

**Expected behavior**
The error will be caught in the other function.

**Actual behavior**
The error is thrown outside and uncaug

[2022-03-29 16:41] yarinsa commented on #130
Solved this way:

What I had:

  const debouncedSave = useDebouncedCallback(
    saveFunction,
    1000,
    { maxWait: 3000 },
  );

The solution:

  const debouncedSave = useDebouncedCallback(
    () => saveFunction(),
    1000,
    { maxWait: 3000 },
  );

[2022-03-29 16:41] #130 closed

[2022-04-25 10:37] c-ehrlich opened #131 "useDebouncedCallback gives incorrect import suggestion in VSCode"
**Describe the bug**
When using AutoComplete in VS Code for `useDebouncedCallback`, it suggest importing it from `use-debounce/lib`. However this import doesn't work, the correct input is `use-debounce`

**To Reproduce**
Install use-debounce, create a React component,  type `const a = useDebouncedCallback`, and look at the autocomplete suggestions for the import

**Expected behavior**
It should su

[2022-05-01 21:30] xnimorz commented on #131
Hey @c-ehrlich
Thanks for reporting!

I've published v8.0.0 of the library.

Now it resolves pathes correctly:
![image](https://user-images.githubusercontent.com/1178825/166165231-6d118f46-4240-434b-9754-3090f085c18d.png)

If you get any issues during the update from 7.x.x => 8.x.x here is a guidance: https://github.com/xnimorz/use-debounce/blob/master/CHANGELOG.md#800

[2022-05-01 21:31] xnimorz commented on #129
Hey @alexniarchos
Thanks for reporting!

I've published v8.0.0 of the library.

Now it fully compatible with react-devtools
If you get any issues during the update from 7.x.x => 8.x.x here is some guidance: https://github.com/xnimorz/use-debounce/blob/master/CHANGELOG.md#800

[2022-05-01 21:32] xnimorz commented on #124
Hey @mntnoe
I've published v8.0.0 of the library.

Now it works with `leading: true` correctly, here is the demo:

https://codesandbox.io/s/cache-example-with-areas-and-leading-param-119r3i

If you get any issues during the update from 7.x.x => 8.x.x here is a guidance: https://github.com/xnimorz/use-debounce/blob/master/CHANGELOG.md#800

[2022-05-01 21:32] xnimorz commented on #131
I'm closing this issue as it should be resolved for now. Please, feel free to re-open it if you still get any issues with it

[2022-05-01 21:32] #131 closed

[2022-05-01 21:33] xnimorz commented on #129
I'm closing this issue as it should be resolved for now. Please, feel free to re-open it if you still get any issues with it

[2022-05-01 21:33] #129 closed

[2022-05-01 21:33] xnimorz commented on #124
I'm closing this issue as it should be resolved for now. Please, feel free to re-open it if you still get any issues with it

[2022-05-02 09:12] mntnoe commented on #124
Thank you for looking into this. When using `{ leading: true }`, we get some strange behavior in our code with v8.0.0, where the new value is used initially, but then reverted:

[code]

I'll try to investigate what happens when I get time.

[2022-05-02 10:56] xnimorz commented on #124
@mntnoe interesting, thanks, I'll try to reproduce it too.

[2022-05-03 09:15] Glup3 opened #132 "Jest 28.0.0 and jest-environment-jsdom fails to import use-debounce in tests"
**Describe the bug**
Importing the package does not work since the Jest 28.0.0 update in combination with `jest-environment-jsdom`.

**To Reproduce**

1. update jest to 28.0.0
2. use jest-environment-jsdom (28.0.0)
3. create a test that uses use-debounce
4. run the test

**Expected behavior**
The test should run successfully.

**use-debounce version:** 8.0.0

**Additional Information**
This proble

[2022-05-05 17:20] sibelius commented on #132
this is breaking our server side rendering with webpack as well

[2022-05-05 17:25] sibelius commented on #132
removing

[code]

from package.json solved the problem

[2022-05-05 22:11] xnimorz commented on #132
Hey @Glup3 and @sibelius !

Sorry, for the long response, and huge thanks to both of you!

I updated the exports section https://github.com/xnimorz/use-debounce/commit/dd377cbbc8b75bf4c9da477a969be50584d23e79 and tested on the local project with `jest@28` and `jest-environment-jsdom`, so the new version should work properly.

I've published `use-debounce@8.0.1`, you can update to this version.

Le

[2022-05-06 18:26] xnimorz commented on #132
Great, thanks for the info

[2022-05-06 18:26] #132 closed

[2022-07-28 02:00] dzearing opened #139 "Seems like useDebouncedCallback is executing async functions in render scope"
**Describe the bug**
I'm looking through the source here, and noticed something you may want to consider.

When you call `useDebouncedCallback` in a server environment using `ReactDOM.renderToString`, no async calls to `requestAnimationFrame` or `setTimeout` should occur. React will avoid calling `useEffect` mounting code to enable this case.

Unforunately, this hook is calling setTimeout in rende

[2022-08-13 14:59] xnimorz commented on #139
Hey @dzearing
I'm curious, what is the case to call the callback in the render scope?

As it's an uncommon case.

[2022-08-28 12:17] xnimorz commented on #124
I cannot repro it now. If you have an example, please share it. I'll close the issue for now

[2022-08-28 12:17] #124 closed

[2022-09-21 22:28] WebDev-Akhil opened #142 "use-debounce to auto-save multi input form"
I'm trying to create an auto-save form. Whenever a user types something in the multi-field form, a function should run to submit the form data. From the readme examples, I understand how to do it for a single form field input but I would like to do it for multiple form fields (useState({object})

Codesandbox: https://codesandbox.io/s/cache-forked-ncz0tf?file=/src/index.js

Code:

in the below exam

[2022-10-14 22:44] cgarrovillo opened #143 "useDebouncedCallback should return the callback function"
**Describe the bug**
A clear and concise description of what the bug is.

the useDebounce hook should return the function that is passed in, for things like promise chaining

**To Reproduce**
Steps to reproduce the behavior.

1. Pass in a Promised function to `useDebouncedCallback`
2. Notice that it returns undefined

**Expected behavior**
A clear and concise description of what you expected to ha

[2022-10-15 10:29] xnimorz commented on #142
Hey @WebDev-Akhil,
Answering your question of how to make denounced changes in case several nested components, I'd suggest going with lifting the state up. So, the component, in the end, would call some provided function to change the state from the component higher. You can follow this technic here:
https://reactjs.org/docs/lifting-state-up.html

[2022-10-15 10:32] xnimorz commented on #143
Hey @cgarrovillo

Can you provide an example of this and the use case, please?

[2022-10-16 22:48] cgarrovillo commented on #143
[code]

[2022-10-18 21:04] xnimorz commented on #143
Hey @cgarrovillo
This limitation was made for a reason:
When you plan debounced callback you may not know which callback will be executed in the end. It can lead to errors and unexpected behaviour in the client's application.

To maintain a reliable and sustainable way it's better to move `then` inside the callback:

[code]

This approach also works if you have several places with `useDebounceCall

[2022-11-15 22:21] #143 closed

[2022-11-15 22:21] #142 closed

[2022-11-22 21:49] matewilk opened #147 "Cannot use import statement outside of a module - running with jest in ESM mode"
First off, Thank you for your amazing work 🌟

**Describe the bug**
I have the following config:

`package.json` file test command:
`"test": "NODE_OPTIONS=--experimental-vm-modules jest",` - native support for [EcmaScript Modules](https://jestjs.io/docs/ecmascript-modules)

`jest.config.js`:
[code]

`tsconfig.json`
[code]

**To Reproduce**
Run jest in ESM mode (with typescript) with a component usi

[2022-11-24 22:18] xnimorz commented on #147
Hey @matewilk ! Thanks for the contribution. I'll check and cut a new release soon

[2022-11-28 23:19] #147 closed

[2022-11-29 01:26] denchen opened #151 "Cannot find module 'use-debounce'"
**Describe the bug**
With the just-released 9.0.0, can't import anything from this library.

**To Reproduce**
[code]

The problem only manifests itself when I'm using Jest.

I believe this is a problem with `exports` in `package.json`:
[code]

But the files included are:
[code]

The module for `"require"` is not there.

[2022-11-29 01:35] xnimorz commented on #151
Hey @denchen !

Sorry for the inconvenience. I've just published v9.0.1 it should fix the issue

[2022-11-29 02:01] denchen commented on #151
Hi @xnimorz ,

So the import problem is fixed, but now I'm getting a new error, again within Jest:

[code]

My actual app works just fine with `useThrottledCallback()`. It's just failing within the tests.

[2022-11-29 10:59] malfianrasyidin commented on #151
Hey @xnimorz, thanks for the quick fix for the `v9.0.1`, but it seems it has not resolved the issue of importing the `useDebounce` as below:

![image](https://user-images.githubusercontent.com/25271386/204511674-7847c1c4-e062-4eb9-8be1-926859da9a68.png)

It works fine for the `v8.0.4`, but not the latest major version.

![image](https://user-images.githubusercontent.com/25271386/204512025-5617c400

[2022-11-29 11:14] xnimorz commented on #151
Hey @malfianrasyidin
I’ll take care of it later today.

I’d advise using 8.0.4 for now.

[2022-11-29 16:01] efstathiosntonas opened #152 "[9.0.1] TS7016: Could not find a declaration file for module 'use-debounce'."
**Describe the bug**
After upgrading to `9.0.1` the types are broken.

`TS7016: Could not find a declaration file for module 'use-debounce'.`

**To Reproduce**
Upgrade to `9.0.1` on a typescript project

**use-debounce version:**
`9.0.1`

[2022-11-29 16:40] sven-meyer-wetter-com commented on #152
Same problem here...

[2022-11-29 17:06] grzegorz-zadora commented on #152
Same here

[2022-11-29 17:47] xnimorz commented on #152
Hey all!
Sorry for inconvenience. I’ll fix it within a day.
for now please use 8.0.4

[2022-11-29 18:04] efstathiosntonas commented on #152
@xnimorz I think it's broken on react-native too, it throws this:

```Error: While trying to resolve module `use-debounce` from file `/Users/stathis/WebstormProjects/src/xxxx.tsx`, the package `/Users/stathis/WebstormProjects/xxxxxx/node_modules/use-debounce/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`/Users/stathi

[2022-11-29 19:35] xnimorz commented on #151
Okay, So I've reverted recent 9.0.0 changes, and it should be back to normal.

[2022-11-29 19:35] xnimorz commented on #152
Okay, So I've reverted recent 9.0.0 changes, and it should be back to normal.

You can use 9.0.2, it should work fine

[2022-11-30 02:05] denchen commented on #151
Thanks @xnimorz . I've verified that everything is working again, both app and tests, at least in my setup.

[2022-11-30 08:16] grzegorz-zadora commented on #152
`9.0.2` works brilliantly!

@xnimorz Thank you very much! :bow:

[2022-11-30 08:31] #152 closed, assigned to nobody

[2022-11-30 08:31] #151 closed